NEXT_PUBLIC_SITE_URL=https://wasguerjte-web.vercel.app
# WooCommerce API Credentials
WOOCOMMERCE_CONSUMER_KEY=ck_c1f220f01e4f041f8133b8d627a830000f1f10a3
WOOCOMMERCE_CONSUMER_SECRET=cs_271d4242643cfcd942e0d77cead17e8e0c02f284
# WooCommerce API Credentials (client-side/browser)
NEXT_PUBLIC_WOOCOMMERCE_CONSUMER_KEY=ck_c1f220f01e4f041f8133b8d627a830000f1f10a3
NEXT_PUBLIC_WOOCOMMERCE_CONSUMER_SECRET=cs_271d4242643cfcd942e0d77cead17e8e0c02f284

# Stripe API Keys (replace with your actual keys)
STRIPE_SECRET_KEY=sk_test_51QDhsdJdU1452TfMgs8Yyb0MsijPW8brdlhP6Yvt0zFis1Cdml1l4lmGijkcKYF3wSXuLNjVI1jUBL5gGKyvGjra00wQbeLQ1S
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51QDhsdJdU1452TfMCPDAgdWWRl9dfF0NXcyFVELedNZkzlGTqMraKyXW5J2uRveN1iVsIKlQc98qydhrKLEzdqLT0099lrLANi
STRIPE_WEBHOOK_SECRET=whsec_465fb89386303c174960abf90ccad62298a603d5f975b701f81c194a2ed8b126

# WordPress/WooCommerce API URLs
WOOCOMMERCE_API_URL=https://wasgeurtje.nl/wp-json/wc/v3
WORDPRESS_API_URL=https://wasgeurtje.nl/wp-json/wp/v2
JWT_AUTH_URL=https://wasgeurtje.nl/wp-json/jwt-auth/v1/token
WPLOYALTY_API_URL=https://wasgeurtje.nl/wp-json/wployalty/v1/t

# Postcode API Credentials (postcode.nl of postcode.eu)
POSTCODE_API_KEY=ybOB9CvkHuqe8VgKeJZyfEKiKOykZ7hWduOSzUeajsT
POSTCODE_API_SECRET=P9HCe7bI5yfFVVXLQcYvNCt0MISac8jazewWsLRAVzfIjVxWwe

# Email Configuration
SMTP_HOST=your_smtp_host
SMTP_PORT=587
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_password
ADMIN_EMAIL=info@wasgeurtje.nl

# Other Secrets
PREVIEW_SECRET=your_preview_secret
REVALIDATION_SECRET=your_revalidation_secret